---
import { AUTHOR_NAME, SITE_DESCRIPTION, SOCIAL_LINKS, RESUME_URL } from '@/consts';
---

<div class="bio-wrapper">
  <div class="bio-header">
    <img 
      src="/images/avatar.png" 
      alt={AUTHOR_NAME}
      class="avatar-image"
    />
    <div class="bio-name">{AUTHOR_NAME}</div>
  </div>
  <div class="bio-main">
    <div class="bio-text">
      {SITE_DESCRIPTION.split('\n').map((line: string) => (
        <p>{line}</p>
      ))}
    </div>
    <div class="bio-links">
      <a href={RESUME_URL} class="bio-link">
        📄
      </a>
      <a href={`mailto:yoon.homme@gmail.com`} class="bio-link">
        ✉️
      </a>
      <a href={`https://instagram.com/${SOCIAL_LINKS.instagram}`} class="bio-link">
        📷
      </a>
      <a href={`https://github.com/${SOCIAL_LINKS.github}`} class="bio-link">
        💻
      </a>
      <a href={`https://linkedin.com/in/${SOCIAL_LINKS.linkedin}`} class="bio-link">
        💼
      </a>
    </div>
  </div>
</div>

<style>
  .bio-wrapper {
    position: sticky;
    top: 2em;
    width: 290px; /* theme.sizes.bioWidth */
    padding: 1.5em;
    font-size: 15.5px;
    background: #313746; /* theme.colors.blackLight */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  }
  
  .bio-header {
    display: flex;
    align-items: center;
  }
  
  .avatar-image {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  
  .bio-name {
    margin-left: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.3em;
    color: #fff;
  }
  
  .bio-main {
    margin-top: 1em;
  }
  
  .bio-text {
    color: #fff;
    font-size: 0.92em;
  }
  
  .bio-text p {
    margin: 0.5em 0;
  }
  
  .bio-links {
    margin-top: 1.5em;
    display: flex;
    color: #fff;
    text-align: center;
    max-width: 244px;
  }
  
  .bio-link {
    width: 20%;
    display: block;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 30px;
    color: #727d86; /* theme.colors.gray */
    letter-spacing: 0.5px;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  .bio-link:hover {
    color: #20a8ea; /* theme.colors.highlight */
  }
  
  @media screen and (max-width: 950px) { /* theme.responsive.large */
    .bio-wrapper {
      position: relative;
      margin: 2em 0;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 500px) { /* theme.responsive.small */
    .bio-wrapper {
      padding: 1.3em 1em;
    }
  }
</style>